@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-darkBlue;
    font-size: 62.5%;
    overflow-x: hidden;
  }
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(
      to right,
      rgba(226, 232, 240, 0.6),
      rgb(226, 232, 240),
      rgba(226, 232, 240, 0.6)
    );
    background-clip: text;
    color: transparent;
  }

  .primaryButton {
    background: linear-gradient(#a855f7, #a855f7) padding-box,
      linear-gradient(#a855f7, #e9d5ff 75%, transparent 100%) border-box;
  }

  .navBackground {
    background: linear-gradient(#0f172a, #0f172a) padding-box,
      conic-gradient(#94a3b8, #334155 25%, #334155 75%, #94a3b8 100%) border-box;
  }

  .halo-mask {
    mask-image: radial-gradient(black, transparent 60%);
    -webkit-mask-image: radial-gradient(black, transparent 60%);
  }

  .grid1 {
    background: repeating-linear-gradient(
      transparent,
      transparent 48px,
      #fff 48px,
      #fff 49px
    );
  }

  .grid2 {
    background: repeating-linear-gradient(
      transparent,
      transparent 48px,
      #a855f7 48px,
      #a855f7 49px
    );
  }

  .grid3 {
    background: repeating-linear-gradient(
      90deg,
      transparent,
      transparent 48px,
      #fff 48px,
      #fff 49px
    );
  }

  .grid-logo-bg {
    background: linear-gradient(#0f172a, #0f172a) padding-box,
      conic-gradient(#94a3b8, #334155 25%, #334155 75%, #94a3b8 100%) border-box;
  }

  .grid4 {
    background: repeating-linear-gradient(
      90deg,
      transparent,
      transparent 48px,
      #a855f7 48px,
      #a855f7 49px
    );
  }
}
